.container {
	width: 1120px;
	margin: 0 auto;
	position: relative;
}
.full-container {
	position: relative;
	margin-bottom: 114px;
	overflow: hidden;
}

@media only screen and (max-width: 900px) {
	body,
	p {
		font-size: 10px !important;
		line-height: 10px !important;
	}
	.side-slogan .title {
		font-size: 20px;
	}
	.container {
		width: 95%;
	}
}
